model_config_list {
  config {
    name: "etrm_risk_model"
    base_path: "/models/etrm_risk_model"
    model_platform: "tensorflow"
    model_version_policy {
      latest {
        num_versions: 2
      }
    }
    version_labels {
      key: "stable"
      value: 1
    }
    version_labels {
      key: "canary"
      value: 2
    }
  }
  
  config {
    name: "etrm_pricing_model"
    base_path: "/models/etrm_pricing_model"
    model_platform: "tensorflow"
    model_version_policy {
      latest {
        num_versions: 2
      }
    }
    version_labels {
      key: "stable"
      value: 1
    }
  }
  
  config {
    name: "etrm_compliance_model"
    base_path: "/models/etrm_compliance_model"
    model_platform: "tensorflow"
    model_version_policy {
      specific {
        versions: 1
        versions: 2
      }
    }
  }
  
  config {
    name: "etrm_generative_model"
    base_path: "/models/etrm_generative_model"
    model_platform: "tensorflow"
    model_version_policy {
      latest {
        num_versions: 1
      }
    }
    version_labels {
      key: "production"
      value: 1
    }
  }
}